.fillContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 35px;
  width: 255px;
  background: #19044d;
  border-radius: 5px;
  padding-left: 2px;
  margin-right: 5px;
}

.progContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  font-weight: 600;
  font-size: 1.3em;
}

.statName {
  text-transform: uppercase;
}

.Completed {
  color: #19044d;
}

.statData {
  width: 400px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 990px) {
  .statData {
    width: 200px;
  }
}

@media screen and (max-width: 750px) {
  .statData {
    width: 100px;
  }
  .fillContainer {
    width: 50px;
  }
}
